---
---

@import "{{ site.theme }}";

img[alt="Logo"] {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 180px; /* Adjust size as needed */
    height: 180px;
    object-fit: cover; /* Ensures the logo maintains proportions */
}


