---
---

@import "{{ site.theme }}";

img[alt="Logo"], .site-logo {
    border-radius: 50%;
    width: 100px; /* Adjust size as needed */
    height: 100px;
    object-fit: cover; /* Ensures the logo maintains proportions */
}

img[alt="logo"],.site-logo {
    display: block;
    margin: 0 auto;  /* Centers the logo */
    border-radius: 50%;  /* Makes it round */
    width: 100px;  /* Adjust size as needed */
    height: 100px;
    object-fit: cover;  /* Ensures the logo is properly cropped */
}
